.footer {
   /* margin-top: 6px; */
    width: 100%;
    height: 60px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    /* display: flex; */
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    /* margin: 20px; */
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }